/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.move{
    margin-left:900px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
td{
    padding:14px;
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}




.textbox
{
    padding:10px;
    margin-left:250px;
    
}
.main {
    border-radius: 25px;
}
.border {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px grey;
    height:500px;
    width:700px;
    
}
.li {
    background-color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    width: 100px;
    margin-left: 600px;
    color: red;
}

.lp {
    background-color: #EEEEEE;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border-width: 300px;
    width: 100px;
    margin-left: 50px;
    color: red;
}
#check {
    margin-left: 300px;
    padding:10px;
    
}
.butt {
    margin-left: 700px;
}
.al {
    color: blue;
    width: 600px;
    border-color: aqua;
}

.h1 {
    color: black;
}

.space {
    margin-left: 800px;
}

.btn-info {
    width: 500px;
    height: 900px;
}

button {
    display: block;
    margin: 0 auto;
    padding: .6em .8em;
    /* Font-size is the root value that determines size of spinner parts. 
Change this to whatever you want and spinner elements will size to match. */
    font-size: 20px;
    font-weight: bold;
    border-radius: .4em;
    border: none;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 1s;
}

    /* focus/disabled styles, you can change this for accessibility */
    button:focus, button:disabled {
        outline: none;
        background: #aaa;
    }

/* This is the space for the spinner to appear, applied to the button */
.spin {
    padding-left: 2.5em;
    display: block;
}

    /* position of the spinner when it appears, you might have to change these values */
    .spin .spinner {
        left: -.6em;
        top: .4em;
        width: 2.5em;
        display: block;
        position: absolute;
    }

/* spinner animation */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* The actual spinner element is a pseudo-element */
.spin .spinner::before {
    content: "";
    width: 1.5em; /* Size of the spinner */
    height: 1.5em; /* Change as desired */
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: solid .35em #999; /* Thickness/color of spinner track */
    border-bottom-color: #555; /* Color of variant spinner piece */
    animation: .8s linear infinite spinner; /* speed of spinner */
    transform: translate(-50%, -50%);
    will-change: transform;
}

/* optional, but it will affect the size if changed */
*, *::before, *::after {
    box-sizing: border-box;
}