@model StaffManagement.Core.Model.StaffLogin

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@using (Html.BeginForm("StaffLogin", "StudentContoller", new { @class = "form-horizontal", role = "form", id = "formDetails" }))
{

    <div class="border bg-light">
        <img alt="Qries" class="center" src="https://vle.westwoodcollege.coop/file.php/1/home-icons/staff-portal-icon.jpg"
             width="10" height="200">



        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            @Html.TextBoxFor(x => x.StaffName, new { id = "example", @class = "main" })
        </div>


        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            @Html.PasswordFor(x => x.Password, new { id = "example1", @class = "main" })
        </div>

        <button class="btn btn-success btn-ladda text-center" data-style="expand-left" id='check'>Submit</button>

    </div>


}
@if (ViewBag.Message != null)
{
    <script type="text/javascript"> window.onload = function () { alert("@ViewBag.Message"); };</script>
}
@if (TempData["Session"] != null)
{
    <script type="text/javascript"> window.onload = function () { alert("@TempData["Session"]"); };</script>

}

<script type='text/javascript'>

    $(function () {

        $("#check").click(function () {

            $('#loader').show();
            if (!$("#example").val()) {

                alert("PLEASE ENTER THE DETAILS!");
            }
            if (!$("#example1").val()) {
                alert("PLEASE ENTER THE DETAILS!");
            }


        });
    });
</script>


