@model StaffManagement.Core.Model.StudentDetails

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@using (Html.BeginForm("StudentLogin", "StudentContoller", new { @class = "form-horizontal", role = "form", id = "formDetails" }))
{

    <div class="border bg-light">
        <h1 class="h1 text-danger text-center">Staff Login</h1>


        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            @Html.TextBoxFor(x => x.RollNumber, new { id = "example" })
        </div>


        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            @Html.PasswordFor(x => x.Password, new { id = "example1" })
        </div>


        <button class="btn btn-primary text-center " id='check'>SUBMIT</button>
    </div>


}
@if (ViewBag.Message != null)
{
    <script type="text/javascript"> window.onload = function () { alert("@ViewBag.Message"); };</script>
}
@if (TempData["Session"] != null)
{
    <script type="text/javascript"> window.onload = function () { alert("@TempData["Session"]"); };</script>
}

<script type='text/javascript'>
    $(function () {

        $("#check").click(function () {

            if (!$("#example").val()) {

                alert("PLEASE ENTER THE DETAILS!");
            }
            if (!$("#example1").val()) {
                alert("PLEASE ENTER THE DETAILS!");
            }


        });
    });
</script>