<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="StartTime" value="01:51 PM " />
		<add key="callDuration" value="2" />
		<add key="CallType" value="1" />
		<add key="FromMail" value="sangavi.palanisamy@dotnetethics.com" />
		<add key="Password" value="nagwnyqrglwpxcdw" />
		<add key="Host" value="smtp.gmail.com" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="sangavi.palanisamy@dotnetethics.com">
				<network host="smtp.gmail.com" userName="sangavi.palanisamy@dotnetethics.com" password="nagwnyqrglwpxcdw" enableSsl="true" port="587" />
			</smtp>
		</mailSettings>
	</system.net>
<connectionStrings><add name="SampleTestEntities" connectionString="metadata=res://*/BLL.Model1.csdl|res://*/BLL.Model1.ssdl|res://*/BLL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=SampleTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>